<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LordOfRanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LordOfRanger.Properties.Settings>
            <setting name="startupState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="commandInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="upDownInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="commandUpDownInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="timerInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="mouseReClick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iconViewFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="oneRowIcons" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="iconDisplayPosition" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="activeWindowMonitoring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="activeWindowMonitoringinterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="processName" serializeAs="String">
                <value>ARAD</value>
            </setting>
            <setting name="hotKeyLorSwitching" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="currentSettingName" serializeAs="String">
                <value />
            </setting>
            <setting name="newFileFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </LordOfRanger.Properties.Settings>
    </userSettings>
</configuration>